 <div class="container">
    <img class="icon" src="../../assets/images/iglesia.png" alt="">
        <div class="event-details">
            <h1 class="event-title">Ceremonia y Recepción</h1>
            <p class="venue-name">ATRIO HOTEL</p>
            <p class="address-line">Timan&aacute;, Huila</p>
            <p>4:00 PM</p>
            <a target="_blank" href="https://www.google.com/maps/place/Villa+Daniela/@4.2941017,-74.7914801,18.45z/data=!4m19!1m8!3m7!1s0x8e3f28f4930d4a73:0x1b54a09d47a8d534!2sCl.+9+%23+4-33,+Girardot,+Tolima!3b1!8m2!3d4.28806!4d-74.805841!16s%2Fg%2F11x7gwm32j!3m9!1s0x8e3f289ac83b6e5f:0xeb7d237f089dfe55!5m3!1s2025-06-12!4m1!1i2!8m2!3d4.2943638!4d-74.7907041!16s%2Fg%2F11c2nxpym0?entry=ttu&g_ep=EgoyMDI1MDYwOS4wIKXMDSoASAFQAw%3D%3D" class="location-button">CLICK UBICACIÓN</a>
        </div>
    </div>
