@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.countdown-container {
    text-align: center;
    padding: 0 0 10px 0;
}

.countdown-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.countdown-numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: 400;
    gap: 15px;
    color: #ffffff;
}

.countdown-numbers span {
    min-width: 50px;
    text-align: right;
}

.countdown-numbers .colon {
    font-size: 0.8em;
    color: #222;
    line-height: 1.2;
    position: relative;
    top: -0.05em;
    min-width: 15px;
    text-align: center;
}

.countdown-labels {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: #555;
    margin-top: 10px;
    gap: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'Playfair Display', serif;
}

.countdown-labels div {
    width: 65px;
    text-align: right;
}

.countdown-labels div:nth-child(1) {
    min-width: 50px;
    text-align: right;
}

.countdown-labels .spacer {
    width: 15px;
    min-width: 15px;
}

#countdown-message {
    margin-top: 30px;
    font-size: 1.5em;
    color: #8B4513;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

@media (max-width: 424px) {
    .countdown-numbers {
        font-size: 3.7em;
    }

    .countdown-labels {
        font-size: 0.8em;
    }
}

@media (max-width: 550px) {
    .countdown-numbers {
        font-size: 3.5em;
    }

    .countdown-labels {
        font-size: 0.9em;
        gap: 8px;
    }
}

@media (max-width: 426px) {
    .countdown-numbers {
        font-size: 2.4em;
    }

    .countdown-labels {
        font-size: 0.65em;
    }
}

@media (max-width: 380px) {
    .countdown-numbers {
        font-size: 2.2em;
    }

    .countdown-labels {
        font-size: 0.5em;
    }
}
